@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;900&family=Rubik:wght@400;500;700&display=swap');

*{
    font-family: 'Kanit', sans-serif;
/* font-family: 'Rubik', sans-serif; */
}

.navbar{
    width: 100%;
    background-color: #281a39;
}
.nav-logo-text{
    color: #b8a7e7;
}
.navbar-right {
    justify-content: flex-end;
}
  
  /* Bottom left text */


  .box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .texts{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 27%;
    right: 0;
    top: 80%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 80%; /* Set the width of the positioned div */
    background-color: white;
}

.video-container iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Query for screens smaller than 768px (Mobile) */
@media (max-width: 767px) {
    .video-container {
        width: 100%;
        height: 300px;
    }
    .img-main{
        width: 100%;
        height: 600px;
    }
    .bottom-left {
        position: absolute;
        bottom: 0px;
        left: 1px;
    }
}

/* Media Query for screens 768px and above (Macbook) */
@media (min-width: 768px) {
    .video-container {
        width: 100%;
        height: 800px;
    }
    .content-img{
        height: 600px;
    }
    .img-main{
        width: 100%;
        height: 800px;
    }
    .bottom-left {
        position: absolute;
        bottom: -10px;
        left: 16px;
    }
}
button, .college-text{
    animation-duration: 2s;
    animation-name: s;
}
@keyframes s {
    from{
        margin-left: -20%;
    }
    to{
        margin-left: 0%;
    }
}
.welcome-text{
    animation-duration: 10s;
    animation: ease-out;
}
